
{% extends "layout.html" %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Medial File</title>
    </head>
    <body>
        <form method="POST"  enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image }}
            <button type="submit">Upload</button>
        </form>
    </body>
{% endblock content %}